#container{
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    height: fit-content;
    width: fit-content;
}

#pokedex{
    font-weight: bold;
    
}

#pokedex-label{
    text-decoration: underline;
    font-style: italic;
    font-weight: bolder;
    font-size: 21px;
    color: black;
}